In [9]:
import numpy as np
import pandas as pd

In [10]:
# Gregorian time - ISO 8601
date = np.datetime64('2018-03-06 11:38:00')

In [11]:
print(date)

2018-03-06T11:38:00

In [12]:
type(date)

numpy.datetime64

In [13]:
# zero uses unix defn.  Negative values work.
np.datetime64(0, 's')

numpy.datetime64('1970-01-01T00:00:00')

In [14]:
np.datetime64(10, 'M')

numpy.datetime64('1970-11')

In [15]:
np.datetime64(10, 'ns')

numpy.datetime64('1970-01-01T00:00:00.000000010')

In [16]:
# Time differences. Automatically gives a timedelta64 value!
np.datetime64('2018-03-06 12:00:00') - np.datetime64('2017-01-02')

numpy.timedelta64(37022400,'s')

In [17]:
# create directly and use for counting, etc.
np.timedelta64(1, 's')

numpy.timedelta64(1,'s')

In [18]:
# To get just a number divide timedelta64 values.  Gives normal floating point.
np.timedelta64(3, 's')/np.timedelta64(1,'s')

3.0

In [19]:
# Convert to excel time.
(date-np.datetime64('1900-01-01 00:00:00', 's'))/np.timedelta64(1, 'D') + 1

43164.484722222223

In [20]:
# Pandas uses same datetime64, but handles more formats.
dates = pd.to_datetime(['2005/11/3', '2010.12.31', '1-3-1931'])
print(dates)

DatetimeIndex(['2005-11-03', '2010-12-31', '1931-01-03'], dtype='datetime64[ns]', freq=None)

In [29]:
# Try date overflow
np.datetime64(-1000000000, 'D')

numpy.datetime64('-2735938-12-29')

In [30]:
for n in range(1, 30):
    days = np.power(10, n)
    date = np.datetime64(-days , 'D')
    print(date)

ValueError: Could not convert object to NumPy datetime

In [27]:
days = np.power(10, 5)
type(days)

numpy.int64